.page {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    padding: 0;
    gap: 5px;
}

.page .sidebar {
    width: 180px;
    background-color: var(--popup);
    margin-block: 0.5rem;
    gap: 1.5rem;
    padding: 1rem;
    border-radius: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.page .players {
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;

    #inviteFriends {
        font-size: 1.2rem;
        font-weight: bold;
        color: white;
        margin-bottom: 1rem;
        cursor: pointer;
        text-decoration: underline;

        &:hover {
            color: var(--primary);
        }

        position: relative;

        span.tooltip {
            position: absolute;
            top: -200%;
            display: none;
            background-color: var(--popup-highlight);
            text-align: center;
            padding: 7px 15px;
            left: 50%;
            translate: -50%;

            width: max-content;
            border-radius: 5px;
            color: white;
            text-decoration: none;


        }
    }


    #playerList {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
        gap: 2rem;
        width: 100%;
        height: 100%;
        flex: 1;
        overflow-y: scroll;
        padding-inline: 1rem;
        scrollbar-width: thin;
        scrollbar-color: var(--border) var(--popup);

        &::-webkit-scrollbar {
            width: 0px;
        }

        &::-webkit-scrollbar-track {
            background: var(--popup);
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--border);
            border-radius: 20px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: var(--border);
        }


    }

    .playerAvatar {
        width: 100%;
        aspect-ratio: 1;
        height: fit-content;

        position: relative;

        border-radius: 50%;



        img {
            transition: border 100ms ease, box-shadow 100ms ease;
            box-shadow: 0 0 5px 0 black;
            width: 100%;
            height: 100%;
            aspect-ratio: 1;
            background-color: black;
            border: 5px solid var(--border);
            border-radius: 50%;
            filter: contrast(1.3);
            /* stop drag */
            user-drag: none;
            user-select: none;
            -webkit-user-drag: none;
        }

        &.correct img {
            border-color: lime;
            box-shadow: 0 0 15px 0 lime;
        }

        &.incorrect img {
            border-color: #ff4f4f;
            box-shadow: 0 0 15px 0 red;
        }

        &.skip img {
            border-color: #afafaf;
            box-shadow: 0 0 10px 0px #b5b5b5;
        }

        p {
            border-radius: 5px;
            padding: 5px;
            font-size: 1.1rem;
            font-weight: bold;
            color: white;
            position: absolute;
        }

        .playerName {
            background-color: var(--popup-highlight);
            bottom: -10px;
            left: 50%;
            translate: -50%;
        }

        .playerScore {
            background: var(--primary);
            top: -2%;
            right: -3%;
        }

    }
}

@media screen and (max-height: 800px) {

    /* make avatars smaller */
    .page .players #playerList {
        padding-inline: 1.8rem;
    }

}

@media (max-width: 1000px) {
    .page .sidebar {
        width: 120px;

        #playerList {
            padding-inline: 0.3rem;
        }

        .playerAvatar {



            p {
                font-size: 0.8rem;
            }
        }
    }

}



.page .main {
    flex: 1;
    max-width: var(--max-content-width);
    padding: 1rem;
    position: relative;

}




#roomError[open] {
    display: flex;
}

#roomError {
    display: none;
    z-index: 150;
    pointer-events: all;
    position: fixed;
    inset: 0;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    margin: auto;

    #roomErrorContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 10px;
        width: 350px;
        height: 250px;
        background-color: rgb(226, 63, 63);
        font-weight: bold;
        border-radius: 35px
    }

    h2 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.5rem;
        color: rgb(200, 200, 200);
        margin-bottom: 30px;
    }

    a {
        padding: 15px 30px;
        font-size: 1.7rem;
        background-color: var(--primary);
        border-radius: 10px;
        color: white;
        font-weight: bold;
        text-decoration: none;
    }

    &::backdrop {
        background-color: rgb(0, 0, 0, 0.3);
        backdrop-filter: blur(5px);
    }
}

#usernamePopup[open] {
    display: flex;
}

#usernamePopup {
    display: none;
    z-index: 130;
    pointer-events: all;
    position: fixed;
    inset: 0;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    margin: auto;

    #usernamePopupContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 10px;
        /* width: 550px; */
        padding: 40px;
        /* height: 400px; */
        font-weight: bold;
        border-radius: 35px;
        background-color: var(--popup);


    }

    #usernameError {
        display: none;
        background-color: red;
        color: white;
        padding: 10px;
        border-radius: 10px;
        font-size: 1.2rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.5rem;
        color: rgb(200, 200, 200);
        margin-bottom: 30px;
    }

    button {
        padding: 15px 30px;
        font-size: 1.7rem;
        background-color: var(--primary);
        border-radius: 10px;
        color: white;
        font-weight: bold;
        text-decoration: none;
    }

    &::backdrop {
        background-color: rgb(0, 0, 0, 0.3);
        backdrop-filter: blur(5px);
    }
}