.page {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    padding: 0;
    gap: 5px;
}

.page .sidebar {
    width: 180px;
    background-color: var(--popup);
    margin-block: 0.5rem;
    gap: 1.5rem;
    padding: 1rem;
    border-radius: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.page .players {
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;

    #playerList {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
        gap: 2rem;
        width: 100%;
        height: 100%;
        flex: 1;
        overflow-y: auto;
        padding-inline: 1rem;
        overflow: visible;
        scrollbar-width: thin;
        scrollbar-color: var(--border) var(--popup);

        &::-webkit-scrollbar {
            width: 0px;
        }

        &::-webkit-scrollbar-track {
            background: var(--popup);
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--border);
            border-radius: 20px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: var(--border);
        }


    }

    .playerAvatar {
        width: 100%;
        aspect-ratio: 1;
        /* height: 110px; */
        position: relative;

        img {
            width: 100%;
            height: 100%;
            aspect-ratio: 1;
            background-color: black;
            border: 5px solid var(--border);
            border-radius: 50%;
            filter: contrast(1.3);
            /* stop drag */
            user-drag: none;
            user-select: none;
            -webkit-user-drag: none;
        }

        p {
            background-color: var(--popup-highlight);
            border-radius: 5px;
            padding: 5px;
            font-size: 1.1 rem;
            font-weight: bold;
            color: white;
            position: absolute;
            bottom: -10px;
            left: 50%;
            translate: -50%;
        }
    }
}

@media screen and (max-height: 800px) {

    /* make avatars smaller */
    .page .players #playerList {
        padding-inline: 1.8rem;
    }

}

@media (max-width: 1000px) {
    .page .sidebar {
        width: 120px;

        #playerList {
            padding-inline: 0.3rem;
        }

        .playerAvatar {



            p {
                font-size: 0.8rem;
            }
        }
    }

}



.page .main {
    flex: 1;
    max-width: var(--max-content-width);
    padding: 1rem;
    position: relative;

}


.guessLines {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin-bottom: 2rem;
}

.line {
    background-color: var(--surface);
    padding: 1rem;
    border-radius: 8px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 1.2rem;

    &.correct {
        filter: sepia(2) hue-rotate(62deg) saturate(2);
    }

    &.incorrect {
        filter: sepia(2) hue-rotate(292deg) saturate(2);
    }

    &.skip {
        filter: brightness(2);
    }
}

@media (max-height: 600px) {
    .line {
        max-height: 50px;
    }

}

.controls {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}

.inputs {
    display: flex;
    gap: 1rem;
    position: relative;
    width: 100%;
}

.inputs #searchInput {
    flex: 1;
}

.inputs:focus-within #searchPopup:not(.hidden) {
    display: flex;
    opacity: 1;
    bottom: 102%;
}

.inputs #searchPopup {
    position: absolute;
    z-index: 3;
    background-color: var(--popup);
    width: 100%;
    border-radius: 10px;
    padding: 0.5rem;
    box-sizing: border-box;
    bottom: 10%;
    left: 0;
    margin-top: 1rem;
    display: none;
    flex-direction: column;
    display: none;
    gap: 1px;
    transition: opacity 100ms ease, display 100ms ease allow-discrete, bottom 100ms ease;
    opacity: 0;


    .result {
        padding: 10px 10px;
        background-color: var(--popup);
        border-radius: 7px;
        border: none;
        color: white;
        text-align: left;
        font-size: 1.1rem;
        font-weight: normal;
        cursor: pointer;
        transition: background-color 50ms ease;

        &:hover {
            background-color: var(--popup-highlight);
        }
    }
}

#guessBtn.guessSkip {
    padding: 13px 27px;
    font-size: 1.5rem;
    font-weight: bold;

    background-color: var(--text-secondary);
}



#playBtn {
    width: 45px;
    height: 45px;
    padding: 0;

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.5rem;

    font-weight: bold;

    &:focus {
        outline: none;
    }
}

.timeline {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-inline: 5px;

    .progress {
        flex: 1;
        height: 6px;
        border-radius: 3px;
        background-color: var(--popup);
        overflow: hidden;
        position: relative;

        .bar {
            width: 0%;
            height: 100%;
            /* border-radius: 3px; */
            background: linear-gradient(to left, var(--primary), var(--primary) 25%, var(--secondary-dark));
        }


        .marker {
            width: 2px;
            height: 6px;
            background-color: var(--text-secondary);
            position: absolute;
            top: 0;
            bottom: 0;
        }



    }
}

#roomError[open] {
    display: flex;
}

#roomError {
    display: none;
    z-index: 150;
    pointer-events: all;
    position: fixed;
    inset: 0;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    margin: auto;

    #roomErrorContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 10px;
        width: 350px;
        height: 250px;
        background-color: rgb(226, 63, 63);
        font-weight: bold;
        border-radius: 35px
    }

    h2 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.5rem;
        color: rgb(200, 200, 200);
        margin-bottom: 30px;
    }

    a {
        padding: 15px 30px;
        font-size: 1.7rem;
        background-color: var(--primary);
        border-radius: 10px;
        color: white;
        font-weight: bold;
        text-decoration: none;
    }

    &::backdrop {
        background-color: rgb(0, 0, 0, 0.3);
        backdrop-filter: blur(5px);
    }
}